---
# Default home page with boxes providing collection stats
layout: page
---
{%- assign items = site.data[site.metadata] | where_exp: 'item','item.objectid' -%}
<div class="row">


  <div class="col-12">
    <h2 class="display-4">FEATURES</h2>
  </div>

  {% for feature in site.data.features %}
  {% if feature.featured %} 
  <div class="col-12">
    {% include feature/jumbotron.html objectid=feature.image heading=feature.title text=false link=feature.link %}
  </div>
  {% endif %}
  {% endfor %}
  {% for feature in site.data.features %}
  {% unless feature.featured %} 
  <div class="col">
    {% include feature/jumbotron.html objectid=feature.image heading=feature.title text=false link=feature.link %}
  </div>
  {% endunless %}
  {% endfor %}
  <div class="col-md-8">

    {% include index/description.html %}
    {% include index/carousel.html title="Sample Items" height="500px" %}
    
  </div>
  <div class="col-md-4">  

    {% include index/time.html %}

    {% include index/featured-terms.html field="subject" title="Top Subjects" btn-color="info" %}

    {% include index/featured-terms.html field="source" title="Sources" btn-color="outline-secondary" %}
    
    {% include index/objects.html %}

  </div>
  <div class="col-md-12">

    {% include index/data-download.html %}

  </div>

</div>